<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:asset.css identifier="nsCommentsStyle" href="EXT:ns_comments/Resources/Public/css/style.css" />
<f:asset.css identifier="nsCommentsFontAwesome" href="EXT:ns_comments/Resources/Public/css/font-awesome.min.css" />
<f:asset.script identifier="nsCommentsJquery" priority="true" src="EXT:ns_comments/Resources/Public/js/jquery-3.6.0.min.js" />
<f:asset.script identifier="nsCommentsCustomJs" src="EXT:ns_comments/Resources/Public/js/custom.js" />

<div class="tx_nscomments">
	<f:render section="main" />
</div>
</html>
